.actif {
  font-weight: bold;
  ;
}

#menu li a {
  color: white;
  font-style: italic;
  font-family: verdana;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: 50px;
}

#menu {
  height: 120px;

}

ul {
  margin-top: 100px;
}
