<nav class="container-fluid">
  <div class="float-right">
    <img src="../../assets/bib.jpg" width=500px height="400">
  </div>
  <h3><b>BIBLIOTHEQUE MUSSO</b></h3>
  <p>
    teeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br />
    ttttttttttttttttttttttttttttttttttttttttttttttt<br />
    eeeeeeeeeeeeeeeeeeeeee
    <br />
    <b>CONTACT: 25460987</b>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <a href="https://www.facebook.com/guillaume.musso.fanpage/" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/guillaume_musso/?hl=fr" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-twitter"></a>


  </p>



</nav>
<nav class="container-fluid">

  <img src="../../assets/mussoo.jpg" width=400px height="500" class="float-left">

  <h4>Guillaume Musso</h4>
  <p id="p1" class="text-justify">De roman en roman, Guillaume Musso a noué un lien unique avec ses lecteurs. Né en 1974
    à Antibes sur la
    Côte d'Azur,
    il est tombé amoureux de la littérature très tôt, passant tout son temps libre à dévorer des livres à la
    bibliothèque publique où travaillait sa mère. Un concours de nouvelles organisé par son professeur de français l'a
    amené à découvrir les joies de l'écriture, et il ne s'est jamais arrêté depuis.

    Ses études, ses longs voyages aux États-Unis, ses rencontres… Tous ont contribué à enrichir son imagination et ses
    projets d'écriture. Diplômé en économie sociale, il est devenu enseignant à l'est puis dans le sud de la France. Il
    a publié son premier roman, Skidamarink, en 2001, mais son prochain livre, Et Après…, est celui qui a véritablement
    séduit le public. Cette histoire d'amour et de suspense avec des nuances surnaturelles a marqué le début d'un succès
    fulgurant et inébranlable.

    Traduit en quarante langues et adapté à de nombreuses reprises au cinéma, chaque livre a autant de succès que le
    suivant en France et dans le monde. La parution d'un nouveau roman de Guillaume Musso est devenu, pour ses lecteurs,
    un rendez-vous très attendu.
  </p>
</nav>
<nav>
  <div id="carte">
    <h2>Ou Nous Trouver</h2>
    <iframe src="https://www.google.com/maps/d/embed?mid=11D7SHIS8SnHV2FFbgSbQrj8a9bgLoXAU" width="95%"
      height="450px"></iframe>
  </div>
</nav>
